# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
- Python
- R
- SQL

**Some of the commonly used libraries used by Data Scientists include:**
- Pandas
- NumPy
- Matplotlib

**Data Science Tools**

| Tool        |
|-------------|
| JupyterLab  |
| RStudio     |
| GitHub      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
a = 2 * 3
b = a + 5
b

In [ ]:
minutes = 200
hours = minutes / 60
hours

In [ ]:
objectives = [
    'Learn key data science tools',
    'Understand basic libraries',
    'Practice Jupyter Notebooks'
]
objectives

**Author**

Alonso A T